nav {
  width: 500px;
  color: #F90;
  font: sans-serif;
  border: 1px solid black;
}

a {
  color: #FFF;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

@use 'partial';
